psycopg2
Flask-BabelEx  # for DB Admin
Flask-SQLAlchemy
Flask-Login
Flask-CORS
Flask-DebugToolbar
# Flask-Admin
git+https://github.com/flask-admin/flask-admin.git  # for https://github.com/flask-admin/flask-admin/pull/1009
Flask-Seasurf
marshmallow>=2.0.0b3
pypdf2
