{% extends 'admin/model/list.html' %}

{# The only change from the default template is an added 'view' button #}

{% block list_row_actions_column scoped %}
<td style="white-space: nowrap;">
    {%- if row.has_file -%}
    <a class="icon glyphicon glyphicon-eye-open" target="_blank" href="{{ url_for('view_document', instance_id=get_pk_value(row)) }}" title="View PDF"></a>
    {%- endif -%}
    {%- if admin_view.can_edit -%}
    <a class="icon glyphicon glyphicon-pencil" href="{{ get_url('.edit_view', id=get_pk_value(row), url=return_url) }}" title="{{ _gettext('Edit record') }}">
    </a>
    {%- endif -%}
    {%- if admin_view.can_delete -%}
    <form class="icon" method="POST" action="{{ get_url('.delete_view') }}">
        {{ delete_form.id(value=get_pk_value(row)) }}
        {{ delete_form.url(value=return_url) }}
        {% if delete_form.csrf_token %}
        {{ delete_form.csrf_token }}
        {% elif csrf_token %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% endif %}
        <button onclick="return confirm('{{ _gettext('Are you sure you want to delete this record?') }}');" title="{{ _gettext('Delete record') }}">
          <span class="fa fa-trash glyphicon glyphicon-trash"></span>
        </button>
    </form>
    {%- endif -%}
</td>
{% endblock %}
