{% extends 'admin/base.html' %}

{% block head_css %}
    <link href="{{ admin_static.url(filename='bootstrap/bootstrap2/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='bootstrap/bootstrap2/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='admin/css/bootstrap2/admin.css') }}" rel="stylesheet">
    {# inject our own CSS #}
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <style>
    body {
        padding-top: 4px;
    }
    </style>
{% endblock %}
